/* code below is help from andre 

body {
    background: #24aecd;
  }
  
  .gameboard {
      max-height: 100%;
      max-width: 100%;
      background: url(file:///Users/melaniekalfus/Desktop/proj1/dbz%20background.png) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;    
  }
  
  .sprite {
    width: 72px;
    height: 64px;
    zoom: 300%;
    background: url('/Users/melaniekalfus/desktop/practicechar3.png') left center;
    animation: moveSprite 4.5s steps(8) infinite;
  }
  
  @keyframes moveSprite{
      from{
          background-position-x:0px;
      }
      to{
          background-position-x:-512px;
      }
  }
  
  .sprite2 {
      width: 72px;
      height: 64px;
      zoom: 300%;
      background: url('file:///Users/melaniekalfus/desktop/proj1/char_3.png') left center;
      animation: moveSprite2 .6s steps(3) infinite;
    }
    
    @keyframes moveSprite2{
        from{
            background-position-x:0px;
            background-position-y:-64px;}
        to{
            background-position-x:-172px;
            background-position-y:-64px;}
    }

    */

    










    
     code below was practice to get sprites animated
    and sizing background image with the aspect ratio needed 


    body {
        COMMENT OUT BLUE BG TO SEE AURAS
        background: #24aecd;
        background: black;
      }
      
      .gameboard {
      }
      
      .sprites {
          display: flex;
          justify-content: space-between;
      }
      
      .gotu {
          display: flex;
          flex-direction: column;
          align-content: left;
      }
      
      .majin-gru {
          display: flex;
          flex-direction: column;
          align-content: center;
      }
      
      .frizu {
          display: flex;
          flex-direction: column;
          align-content: center;
      }
      
      .background {
          max-height: 100%;
          max-width: 100%;
          background-repeat: no-repeat;
          z-index: -1;
          position: absolute;
      }
      
      @keyframes moveSprite{
          from{
              background-position-x:0px;
              background-position-y:0px;
          }
          to{
              background-position-x:-512px;
              background-position-y:0px;
          }
      }
      
      @keyframes moveSpriteUp{
          from{
              background-position-x:0px;
              background-position-y:-64px;
            }
          to{
              background-position-x:-192px;
              background-position-y:-64px;
            }
      }
      
      @keyframes moveSpriteDown{
          from{
              background-position-x:0px;
              background-position-y:-64px;
            }
          to{
              background-position-x:-192px;
              background-position-y:-64px;
            }
      }
      
      @keyframes powerUp{
          from{
              background-position-x:0px;
              background-position-y:-384px;
          }
          to{
              background-position-x:-256px;
              background-position-y:-384px;
          }
      }
      
      .gotu-standing {
        width: 72px;
        height: 64px;
        zoom: 300%;
        background: url('pics/sprites/Char_3.png') left center;
        animation: moveSprite 2.25s steps(8) infinite;
        animation-fill-mode: backwards;
      }
      
      .gotu-up {
          width: 72px;
          height: 64px;
          zoom: 300%;
          background: url('pics/sprites/Char_3.png') left center;
          animation: moveSpriteUp 1s steps(3) infinite;
          animation-fill-mode: backwards;
          transform: rotate(-90deg);
      }
        
      .gotu-down {
          width: 72px;
          height: 64px;
          zoom: 300%;
          background: url('pics/sprites/Char_3.png') left center;
          animation: moveSpriteDown 1s steps(3) infinite;
          animation-fill-mode: backwards;
          transform: rotate(90deg);
      }
      
      
      .majin-gru-standing {
          width: 72px;
          height: 64px;
          zoom: 300%;
          background: url('/Users/melaniekalfus/desktop/proj1/char_5.png') left center;
          animation: moveSprite 2.25s steps(8) infinite;
          animation-fill-mode: backwards;
          transform: scaleX(-1);
      }
      
      .majin-gru-up {
            width: 72px;
            height: 64px;
            zoom: 300%;
            background: url('/Users/melaniekalfus/desktop/proj1/char_5.png') left center;
            animation: moveSpriteUp 1s steps(3) infinite;
            animation-fill-mode: backwards;
            transform: rotate(90deg) scaleX(-1);
      }
      
      .majin-gru-down {
          width: 72px;
          height: 64px;
          zoom: 300%;
          background: url('pics/sprites/Char_5.png') left center;
          animation: moveSpriteDown 1s steps(3) infinite;
          animation-fill-mode: backwards;
          transform: rotate(-90deg) scaleX(-1);
      }
      
      
      .frizu-standing {
          width: 72px;
          height: 64px;
          zoom: 300%;
          transform: scaleX(-1);
          background: url('pics/sprites/Char_4.png') left center;
          animation: moveSprite 2.25s steps(8) infinite;
          animation-fill-mode: backwards;
      }
          
      .frizu-up {
          width: 72px;
          height: 64px;
          zoom: 300%;
          background: url('pics/sprites/Char_4.png') left center;
          animation: moveSpriteUp 1s steps(3) infinite;
          animation-fill-mode: backwards;
          transform: rotate(90deg) scaleX(-1);
      }
              
      .frizu-down {
          width: 72px;
          height: 64px;
          zoom: 300%;
          transform: scaleX(-1);
          background: url('pics/sprites/Char_4.png') left center;
          animation: moveSpriteDown 1s steps(3) infinite;
          animation-fill-mode: backwards;
          transform: rotate(-90deg) scaleX(-1);
      }
        
      .blueAura {
          display: flex;
          align-self: flex-start;
          width: 64px;
          height: 64px;
          zoom: 400%;
          background: url('pics/sprites/Char_3.png') left center;
          animation: powerUp .6s steps(4) infinite;
      }
      
      .yellowAura {
          display: flex;
          align-self: flex-start;
          width: 64px;
          height: 64px;
          zoom: 400%;
          background: url('pics/sprites/Char_4.png') left center;
          animation: powerUp .6s steps(4) infinite;
      }
      
      .whiteAura {
          display: flex;
          align-self: flex-start;
          width: 64px;
          height: 64px;
          zoom: 400%;
          background: url('/Users/melaniekalfus/desktop/proj1/char_5.png') left center;
          animation: powerUp .6s steps(4) infinite;
      }

      