.gameboard {
    height: 100%;
    width: auto;
    display: flex;
    background-image: url("pics/background/dbz background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
}

.main {
    height: 100%;
    width: auto;
    display: flex;
    background-image: url("pics/background/dbz background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
    
}

.menu {
    display: flex;
    flex-flow: column;
    height: 40%;
    width: 20%;
    position: absolute;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 40px;
}

h1 {
    height: 30%;
    width: 40%;
    top: 2%;
    display: flex;
    background-image: url('pics/background/Sprite Fight.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    justify-content: center;
}

h2 {
    height: 30%;
    width: 40%;
    top: 15%;
    display: flex;
    background-image: url('pics/background/Reloaded.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    justify-content: center;
}

.button {
	background-color:#b8e356;
	border-radius:6px;
	border:1px solid #83c41a;
	color:#ffffff;
	font-family:Arial;
    font-size:30px;
    width: 50%;
    margin:10 auto;
	font-weight:bold;
	padding:6px 20px;
    text-decoration:none;
    cursor: pointer;
}

.sprites {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

#p1health {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-self: flex-start;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px; 
    width: 30%;
    height: 32px;
    margin-left: -100%;
    background-color: rgb(0, 255, 0);
}

#p1health::-webkit-progress-bar {
    background-color: yellow;
    border-radius: 2px;
}
#p1health::-webkit-progress-value {
    border-radius: 2px; 
}
    
#p2health {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-self: flex-end;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px; 
    width: 30%;
    height: 32px;
    margin-left: -30%;
}

#p2health::-webkit-progress-bar {
    background-color: yellow;
    border-radius: 2px;
}
#p2health::-webkit-progress-value {
     border-radius: 2px; 
}

.gotu-standing {
    display: flex;
    width: 72px;
    height: 64px;
    position: relative;
    top: 227;
    zoom: 300%;
    background: url('pics/sprites/Char_3.png') left center;
    animation: animateSprite 2.25s steps(8) infinite;
    animation-fill-mode: backwards;
}

.kamehameha {
    display: flex;
    width: 72px;
    height: 64px;
    zoom: 200%;
    position: absolute;
    background: url('pics/auras/GK.png') left center;
    z-index: 1;
    animation: kamehamehaShoot .5s linear 1;
    animation-fill-mode: forwards;
}

@keyframes kamehamehaShoot{
    0% {
        left: 10%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 90%;
    }
}

.frizu-standing {
    display: flex;
    width: 72px;
    height: 64px;
    position: relative;
    top: 227;
    zoom: 300%;
    transform: scaleX(-1);
    background: url('pics/sprites/Char_4.png') left center;
    animation: animateSprite 2.25s steps(8) infinite;
    animation-fill-mode: backwards;
}

.kamehameha2 {
    display: flex;
    width: 72px;
    height: 64px;
    zoom: 200%;
    transform: scaleX(-1);
    position: absolute;
    background: url('pics/auras/FK.png') left center;
    z-index: 1;
    animation: kamehameha2Shoot .5s linear 1;
    animation-fill-mode: forwards;
}

@keyframes kamehameha2Shoot{
    0% {
        left: 80%;
    }
    50% {
        left: 40%;
    }
    100% {
        left: 0%;
    }
}

@keyframes animateSprite{
    from{
        background-position-x:0px;
        background-position-y:0px;
    }
    to{
        background-position-x:-512px;
        background-position-y:0px;
    }
}

@keyframes moveSpriteUp{
    from{
        background-position-x:-64px;
        background-position-y:-64px;
    }
    to{
        background-position-x:-128px;
        background-position-y:-64px;
    }
}

@keyframes moveSpriteDown{
    from{
        background-position-x:-64px;
        background-position-y:-64px;
    }
    to{
        background-position-x:-128px;
        background-position-y:-64px;
    }
}

.tutorial-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}
.tutorial-content {
    position: absolute;
    background-image: url('pics/background/king\ kai\ planet.png');
    background-size: 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    top: -77%;
    left: -88%;
    border-radius: 6px;
}
.close-button {
    float: right;
    width: 50px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 6px;
    background-color: orange;
}
.close-button:hover {
    background-color: orangered;
}

.show-modal {
    opacity: 1;
    visibility: visible;
}

.gotu-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}
.gotu-content {
    position: absolute;
    background-image: url('pics/background/p1 win.jpg');
    background-size: 100vh;
    zoom: 80%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    top: -77%;
    left: -70%;
    border-radius: 6px;
}
.close-button-gotu {
    float: right;
    width: 50px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 6px;
    background-color: orange;
}
.close-button-gotu:hover {
    background-color: orangered;
}
.frizu-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}
.frizu-content {
    position: absolute;
    background-image: url('pics/background/p2 win.jpg');
    background-size: 100vh;
    zoom: 80%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    top: -77%;
    left: -40%;
    border-radius: 6px;
}
.close-button-frizu{
    float: right;
    width: 50px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 6px;
    background-color: orange;
}
.close-button-frizu:hover {
    background-color: orangered;
}
.start-modal {
    position: absolute;
    height: 100%;
    width: 100%;
}
.start-content {
    position: absolute;
    background-image: url('pics/background/get-ready.png');
    background-size: 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    left: -70%;
    border-radius: 6px;
}
.close-button-start{
    float: right;
    width: 50px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 6px;
    background-color: orange;
}
.close-button-start:hover {
    background-color: orangered;
}